# Define a codificação padrão para o conteúdo
AddDefaultCharset UTF-8

# Garanta que o conteúdo dinâmico gerado pelo PHP também use UTF-8
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

# Se necessário, defina a codificação para arquivos específicos
<FilesMatch "\.(html|htm|php)$">
    AddDefaultCharset UTF-8
</FilesMatch>
